<mat-toolbar color="primary" (click)="showUsers()">
	<!-- <button mat-icon-button (click)="snav.toggle()"><mat-icon >menu</mat-icon></button> -->
	<h1 class="app-name">Admin chat App</h1>
</mat-toolbar>
<ng-container *ngIf="users.length !== 0">
	<div class="main-container">
		<div class="users-list-container">
			<m4dti-chat-user-item *ngFor="let user of users" [user]="user" (click)="focusOnUser(user)">
			</m4dti-chat-user-item>
		</div>
		<ng-container *ngIf="focusedUser">

			<div class="messaging-wrapper">
				<div class="mssg-container" #mssgContainer>
					<m4dti-chat-message *ngFor="let message of messages" [message]="message"></m4dti-chat-message>
				</div>
				<m4dti-chat-send-field (sendMessageEvent)="onAdminSendMessage($event)"></m4dti-chat-send-field>
			</div>
		</ng-container>
		<ng-container *ngIf="!focusedUser">
			<div class="communication-error-container messaging-wrapper">
				please select a user to communicate with
			</div>
		</ng-container>
	</div>



</ng-container>
<ng-container *ngIf="users.length === 0">
	<div class="communication-error-container">
		<h3>
			there is no users to communicate with
		</h3>
	</div>
</ng-container>